<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/discStyle.css">
    <link rel="icon" href="./public/images/logo.png"> 
    <title>Document</title>
</head>
<body></body>

   
    <%- include('./partials/navigation.ejs') %>
    <main>
        <main>
            <h1>Persoonlijkheidstest</h1>
            <p>Vul alle vragen in om een beeld te vormen van jouw karaktereigenschappen.</p>
            <form action="/disc" method="POST" enctype="application/x-www-form-urlencoded" required>
    
                <section>
                    <h2>Ben jij direct of indirect?</h2>
                    <input type="radio" name="intro1" class="dominant interactief" value="direct" required><span>Direct</span><br>
                    <input type="radio" name="intro1" class="conscientieus stabiel" value="indirect"><span>Indirect</span>
                </section>
    
                <section>
                    <h2>Ben jij taakgericht of mensgericht?</h2>
                    <input type="radio" name="intro2" class="stabiel interactief" value="mensgericht" required><span>Mensgericht</span><br>
                    <input type="radio" name="intro2" class="conscientieus dominant" value="taakgericht"><span>Taakgericht</span>
                </section>
    
                <section>
                    <h2>Geef aan wat het beste bij jou past</h2>
                    <input type="radio" name="vraag1"  class="dominant" id="dominant" value="dominant" ><span>Direct</span><br>
                    <input type="radio" name="vraag1"  class="interactive" id="interactive" value="interactive" ><span>Spraakzaam</span><br>
                    <input type="radio" name="vraag1"  class="stable" id="stable" value="stable" ><span>Harmonieus</span><br>
                    <input type="radio" name="vraag1"  class="conscientieus" id="conscientieus" value="conscientieus" ><span>Analytisch</span>
                </section>
    
                <section>
                    <h2>Geef aan wat het beste bij jou past</h2>
                    <input type="radio" name="vraag2"  class="dominant" id="dominant" value="dominant" ><span>Besluitvaardig</span><br>
                    <input type="radio" name="vraag2"  class="interactive" id="interactive" value="interactive" ><span>Enthousiast</span><br>
                    <input type="radio" name="vraag2"  class="stable" id="stable" value="stable" ><span>Samen werken</span><br>
                    <input type="radio" name="vraag2"  class="conscientieus" id="conscientieus" value="conscientieus" ><span>Bedachtzaam</span>
                </section>
    
                <section>
                    <h2>Geef aan wat het beste bij jou past</h2>
                    <input type="radio" name="vraag3"  class="dominant" value="dominant" required><span>Gericht op uitdagingen</span><br>
                    <input type="radio" name="vraag3"  class="interactief" value="interactive"><span>Praat graag</span><br>
                    <input type="radio" name="vraag3"  class="stabiel" value="stable"><span>Stabiel</span><br>
                    <input type="radio" name="vraag3"  class="conscientieus" value="conscientieus"><span>Rationeel</span>
                </section>
    
                <section>
                    <h2>Geef aan wat het beste bij jou past</h2>
                    <input type="radio" name="vraag4"  class="dominant" value="dominant" required><span>Vastbesloten</span><br>
                    <input type="radio" name="vraag4"  class="interactief" value="interactive"><span>Inspirerend</span><br>
                    <input type="radio" name="vraag4"  class="stabiel" value="stable"><span>Stabiel</span><br>
                    <input type="radio" name="vraag4"  class="conscientieus" value="conscientieus"><span>Perfectie</span>
                </section>
    
                <section>
                    <h2>Geef aan wat het beste bij jou past</h2>
                    <input type="radio" name="karakter5"  class="dominant" value="dominant" required><span>Vol zelfvertrouwen</span><br>
                    <input type="radio" name="karakter5"  class="interactief" value="interactive"><span>Vriendelijk</span><br>
                    <input type="radio" name="karakter5"  class="stabiel" value="stable"><span>Gedisciplineerd</span><br>
                    <input type="radio" name="karakter5"  class="conscientieus" value="conscientieus"><span>Levendig</span>
                </section>
               
                <section>
                    <h2>Geef aan wat het beste bij jou past</h2>
                    <input type="radio" name="karakter6"  class="dominant" value="dominant" required><span>Resultaatgericht</span><br>
                    <input type="radio" name="karakter6"  class="interactief" value="interactive"><span>Inspirerend</span><br>
                    <input type="radio" name="karakter6"  class="stabiel" value="stable"><span>Coöperatief</span><br>
                    <input type="radio" name="karakter6"  class="conscientieus" value="conscientieus"><span>Zorgvuldig</span>
                </section>
    
                <section>
                    <h2>Geef aan wat het beste bij jou past</h2>
                    <input type="radio" name="karakter7"  class="dominant" value="dominant" required><span>Dominant</span><br>
                    <input type="radio" name="karakter7"  class="interactief" value="interactive"><span>Invloedrijk</span><br>
                    <input type="radio" name="karakter7"  class="stabiel" value="stable"><span>Meegaand en attent</span><br>
                    <input type="radio" name="karakter7"  class="conscientieus" value="conscientieus"><span>Consciëntieus</span>
                </section>
    
                <section>
                    <h2>Geef aan wat het beste bij jou past</h2>
                    <input type="radio" name="karakter8"  class="dominant" value="dominant" required><span>Assertief</span><br>
                    <input type="radio" name="karakter8"  class="interactief" value="interactive"><span>Gezellig</span><br>
                    <input type="radio" name="karakter8"  class="stabiel" value="stable"><span>Helpend en ondersteunend</span><br>
                    <input type="radio" name="karakter8"  class="conscientieus" value="conscientieus"><span>Feitelijk ingesteld</span>
                </section>
                   
                <input type="submit">
            </form>   
    </main>
    <!-- <script src="./javascript/script.js"></script> -->
    <%- include('./partials/foot') %>