<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="./public/images/logo.png">
    <title>Register an account</title>
</head>
<body>
    
    <header id='register-header'>
        <svg xmlns="http://www.w3.org/2000/svg" width="257" height="58" viewBox="0 0 257 58">
            <g id="Group_1" data-name="Group 1" transform="translate(-1037 -791)">
              <path id="Path_1" data-name="Path 1" d="M29,0A29,29,0,1,1,0,29,29,29,0,0,1,29,0Z" transform="translate(1037 791)" fill="#2d6a4f"/>
              <path id="Icon_map-health" data-name="Icon map-health" d="M28.53,9.99a.581.581,0,0,0-.579-.579H20.419a.581.581,0,0,1-.579-.579V1.3A.581.581,0,0,0,19.26.72H9.99a.581.581,0,0,0-.579.579V8.831a.581.581,0,0,1-.579.579H1.3A.581.581,0,0,0,.72,9.99v9.27a.581.581,0,0,0,.579.579H8.831a.581.581,0,0,1,.579.579v7.532a.581.581,0,0,0,.579.579h9.27a.581.581,0,0,0,.579-.579V20.419a.581.581,0,0,1,.579-.579h7.532a.581.581,0,0,0,.579-.579Z" transform="translate(1051.375 805.375)" fill="#fefefe"/>
              <text id="DISCOVER" transform="translate(1102 832)" fill="#1f1f1f" font-size="35" font-family="Montserrat-Bold, Montserrat" font-weight="700"><tspan x="0" y="0">DISCOVER</tspan></text>
            </g>
          </svg>
    </header>
    <main id="register-main">
        <h1>Regristeer jouw account</h1>
        <form id="register-form" action="/register" method="POST">
            <div>
                <label for="name">Naam</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div>
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Wachtwoord</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="submit">
                <button type="submit" id="register-submit">Account aanmaken</button>
            </div>
        </form>
        <section id="login-link">
            <p>Al een account? Log hier in</p>
            <a href="/login">Login</a>
        </section>
    </main>
    <%- include('./partials/foot') %>
