*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2a9d8f;
}

/* Header */
header{
    border-bottom: 6px double black;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    height: 50px;
}

form.zoekBalk{
    position: absolute;
    right: 0;
    top: 20px;
    margin-right: 30px;
}

form.zoekBalk input{
    background-color: white;
    font-size: 1em;
    width: 160px;
    padding: 5px;
    border: black 2px solid;
}

form.zoekBalk button{
    background-color: #e36414;
    font-size: 1em;
    color: white;
    padding: 5px;
    border: black 2px solid;
    cursor: pointer;
}

form.zoekBalk button:hover{
    background-color: #963016;
    transition: .5s;
}

form.zoekBalk input:focus{
    width: 220px;
    transition: .5s;
}

svg{
    height: 50px;
}

ul.nav{
    width: 100%;
    position: absolute;
    width: fit-content;
    right: 0;
    top: 0;
    margin-top: 25px;
    margin-right: 300px;
    display: flex;
}

ul.nav li{
    list-style: none;
    font-size: 1.2em;
    cursor: pointer;
}

ul.nav li a{
    text-decoration: none;
    color: #e36414;
    font-weight: 900;
    margin-right: 50px;
    padding: 10px;

}

ul.nav li a:hover{
    text-decoration: underline 2px solid #e36414;
}

/* Main */
main{
    width: 100vw;
}

section#vacature{
    background-color: white;
    border: solid 2px #2D6A4F;
    width: 40%;
    padding: 30px;
    border-radius: 35px;
    box-shadow: darkgreen 0 0 10px;
    margin: 0 auto;
    margin-top: 50px;
}

h1{
    font-size: 2em;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #2D6A4F;
}

h1#titel{
    border: none;
    text-align: center;
    color: white;
    padding-top: 50px;
}

section ul{
    margin-left: 13px;
}

ul#data{
    margin-top: 10px;
}

h2{
    margin-bottom: 5px;
    margin-top: 15px;
}

button#apply{
    background-color: #e36414;
    font-size: 1em;
    color: white;
    padding: 5px;
    cursor: pointer;
    border: black 2px solid;
}

button#apply:hover{
    background-color: #963016;
    transition: .5s;
}

section#container{
    display: flex;
    margin-top: 20px;
}

svg#favoriet{
    height: 20px;
}

svg#favoriet:hover{
    cursor: pointer;
}

button#favoriet{
    border: black 2px solid;
    height: 33px;
    margin-right: 10px;
}

/* Media query */
@media only screen and (max-width: 848px){
    section{
        width: 250px;
        margin: 15px;
    }
    section#container{
        margin: 0;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 900px){
    ul.nav li a {
        margin-right: 0;
    }
}

@media only screen and (max-width: 755px){
    ul.nav li a {
        margin-right: 0;
        padding: 5px;
    }
    ul.nav{
        margin-right: 160px;
    }
    svg{
        margin-left: -20px;
    }

    svg#favoriet{
        margin: 0;
    }

    form.zoekBalk{
        margin-right: 10px;
    }
    form.zoekBalk input{
        width: 40px;
    }
}

@media only screen and (max-width: 755px){
    ul.nav{
        margin-right: 140px;
    }
}

/* Detailpagina */
@media only screen and (max-width: 660px){
    section#vacature{
        width: 60vw;
    }
}

@media only screen and (max-width: 550px){
    ul.nav{
        margin-top: 60px;
        margin-right: 7px;
    }
    header{
        height: 70px;
    }
}


/* Detailpagina */
@media only screen and (max-width: 440px){
    h1{
        font-size: 1.5em;
    }
    h1#titel{
        font-size: 2em;
    }
    h2{
        font-size: 1.2em;
    }

}