*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2a9d8f;
}

/* Header */
header{
    border-bottom: 6px double black;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    height: 50px;
}

form.zoekBalk{
    position: absolute;
    right: 0;
    top: 20px;
    margin-right: 30px;
}

form.zoekBalk input{
    background-color: white;
    font-size: 1em;
    width: 160px;
    padding: 5px;
    border: black 2px solid;
}

form.zoekBalk button{
    background-color: #e36414;
    font-size: 1em;
    color: white;
    padding: 5px;
    border: black 2px solid;
    cursor: pointer;
}

form.zoekBalk button:hover{
    background-color: #963016;
    transition: .5s;
}

form.zoekBalk input:focus{
    width: 220px;
    transition: .5s;
}

svg{
    height: 50px;
}

ul.nav{
    width: 100%;
    position: absolute;
    width: fit-content;
    right: 0;
    top: 0;
    margin-top: 25px;
    margin-right: 300px;
    display: flex;
}

ul.nav li{
    list-style: none;
    font-size: 1.2em;
    cursor: pointer;
}

ul.nav li a{
    text-decoration: none;
    color: #e36414;
    font-weight: 900;
    margin-right: 50px;
    padding: 10px;

}

ul.nav li a:hover{
    text-decoration: underline 2px solid #e36414;
}

/* Main */
main{
    width: 100vw;
}

div{
    width: 40vw;
    margin: 0 auto;
    padding-top: 50px;
}

article button{
    background-color: #e36414;
    font-size: 1em;
    color: white;
    padding: 5px;
    border: black 2px solid;
    cursor: pointer;
    margin: 10px 0 30px 0;
}

article button:hover{
    background-color: #963016;
    transition: .5s;
}

article button a{
    color: white;
    text-decoration: none;
}

h1{
    color: white;
    margin-bottom: 30px;
}

h2{
    text-decoration: underline solid 2px white;
    text-underline-offset: 5px;
    margin-bottom: 10px;
}

section{
    background-color: white;
    border: solid 2px #2D6A4F;
    width: 300px;
    margin: 30px;
    padding: 30px;
    border-radius: 35px;
    box-shadow: darkgreen 0 0 10px;
}

section:hover{
    box-shadow: black 0 0 10px;
}


ul#vacatures{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

ul p{
    font-size: 1em;
    margin: 10px 0;
}

section ul{
    margin-left: 15px;
}


/* Media query */
@media only screen and (max-width: 848px){
    section{
        width: 250px;
        margin: 15px;
    }
}

@media only screen and (max-width: 900px){
    ul.nav li a {
        margin-right: 0;
    }
}

@media only screen and (max-width: 755px){
    ul.nav li a {
        margin-right: 0;
        padding: 5px;
    }
    ul.nav{
        margin-right: 160px;
    }
    svg{
        margin-left: -20px;
    }
    form.zoekBalk{
        margin-right: 10px;
    }
    form.zoekBalk input{
        width: 40px;
    }
}

@media only screen and (max-width: 755px){
    ul.nav{
        margin-right: 140px;
    }
    div#welkom{
        width: 65vw;
    }
}

@media only screen and (max-width: 550px){
    ul.nav{
        margin-top: 60px;
        margin-right: 7px;
    }
    header{
        height: 70px;
    }
    div{
        width: 60vw;
    }
}

#geen-resultaat {
    margin-top: 4%;
    text-align: center;
}